.day-of-week {
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 16px;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 16px;
}

.day-item {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  min-width: 46px;
  height: 130px;
  overflow: hidden;
}

.date {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  user-select: none;
  cursor: default;
  z-index: 2;
}

.date.has-release {
  background-color: #dc6175;
}

.is-not-within-range {
  opacity: 0.25;
}

.releases {
  display: flex;
  width: 100%;
  height: 100%;
}
