@import-normalize;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: linear-gradient(180deg, rgba(40, 27, 36, 0) 0%, #281b24 100%);
}

main {
  overflow-x: auto;
  padding: 0 8px;
}

.calendar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.calendar .days-of-week {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(7, minmax(160px, 1fr));
  margin-bottom: 16px;
}

.calendar .days-of-week li .day-of-week {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.calendar .days-grid {
  display: grid;
  grid-gap: 16px;
  grid-auto-rows: 130px;
  grid-template-columns: repeat(7, minmax(160px, 1fr));
}

.calendar .days-grid li {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.calendar .days-grid li .day {
  display: inline-block;
  padding: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

footer {
  padding: 0 16px;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .logo {
  margin: 0 32px;
}

footer .logo img {
  width: 60px;
}

footer a {
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
}

footer .vk {
  color: #a7b12e;
}

footer .tg {
  color: #dc6175;
}

main .week {
  display: flex;
}

main .week .day {
  position: relative;
  flex: 1;
  margin: 8px;
  height: 130px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

main .week .day .day-num {
  position: absolute;
  display: inline-block;
  padding: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.release {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.info {
  width: 100%;
  position: absolute;
  bottom: 8px;
}

.info p {
  padding-left: 16px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.info .extra {
  font-style: italic;
}

img {
  max-width: 100%;
  display: block;
}

@media (min-width: 768px) {
  footer a {
    font-size: 24px;
    line-height: 31px;
    text-decoration: none;
  }
}
